@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #000000;
    }
    .body-content {
        width: 100%;
        margin-top: 10px;
        padding: 0px;
    }
    .frame {
        margin-top: 0px;
        width: 100%;
        height: 100vh;
        border: 0px;
    }
</style>
<iframe class="frame" src="https://playcanv.as/b/eodehBMI/" />
<div style="background:url(/images/earth-placehold.png); width:100%; background-size:cover; height: 100vh; background-size: cover; background-position: center;"></div>
