@model SpaceApps.Models.CleanData.MainLaunch

@{
    ViewData["Title"] = "Launch";
}

<div class="grid-container">
    <div class="mobile-grid-100">
        <div class='launchTitle'>@Model.Agency.name</div>
        <div class="launchText">@Model.name</div>
    </div>

    <div class="grid-33 mobile-grid-100">
        <div class="launchInfoHead">About</div>
        <div class="launchInfoContent">
            <div class="launchState green"><i class="fas fa-calendar-check"></i>&nbsp; Ready to Launch</div>
            <!--<div class="launchState red"><i class="fas fa-calendar-times"></i>&nbsp; Not Ready to Launch</div>
            <div class="launchState success"><i class="fas fa-calendar-check"></i>&nbsp; Success</div>
            <div class="launchState failure"><i class="fas fa-frown-open"></i>&nbsp; Failure</div>-->

            <i class="fas fa-clock"></i> 30 Minutes til Launch<br />
            <i class="fas fa-calendar"></i> Thursday 3rd July 23:00 UTC<br />

        </div>
    </div>

    @{ 
        if (true)
        {
            <h1>Hello World</h1>
        }
    }

    <div class="grid-33" >
        <div class="image" style="background:url(https://s3.amazonaws.com/launchlibrary/RocketImages/placeholder_1920.png);"></div>
    </div>

    <div class="grid-33 mobile-grid-100">
    <div class="launchInfoHead">Launch Stream</div>
        <iframe width="100%" class="streamblock" src="https://www.youtube-nocookie.com/embed/OAyL0VCf_L4?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>


    <div class="grid-60 mobile-grid-100">
        <div class="launchInfoHead">Journey</div>
        <div class="launchInfoContent">
            KhalifaSat is an Earth observation satellite for UAE. KhalifaSat will provide high-resolution imagery of Earth to be used for various purposes, including urban planning, change monitoring, area classification, monitoring environmental change and aiding relief efforts for natural disasters GOSAT 2 (Greenhouse gases Observing SATellite 2) is a Japanese satellite dedicated to greenhouse gas measurement from space. It's a follow on to the GOSAT mission and includes such improvements as an ability to gather more precise data and monitor carbon monoxide concentrations.
        </div>

    </div>
    

    <div class="grid-40 mobile-grid-100">
        <div class="launchInfoHead">More Info</div>
        <div class="launchInfoContent bigtext">
            <b>Launched by:</b> NASA<br />
            <b>Country:</b> USA<br />
            <b>Type:</b>  Planetary Science </br>
            <b>Latest Change:</b> 21st June <br />
            <b>Where:</b>  Tagason, Japan   
        </div>
    </div>




</div>

