/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('grid.css');

body {
    padding-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

body {
    background-color: #DAD6D6;
}

.logo {
    width: 60%;
    max-width: 600px;
}

.navbar {
    background-color: #413c58;
    border-color: #413c58;
}

.navbar-nav {
    float: right;
}

.body-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.navbar-brand {
    width: 90%;
    height: auto;
    max-width: 300px;
}

.navbar-header {
    max-width: 400px;
    max-height: 500px;
}

.navbar-nav {
    margin-top: 40px;
}

a {
    color: #80DED9 !important;
    transition-duration: 1.5s;
}

.navbar-nav {
    margin-top: 30px;
}

li:hover {
    background-color: #574f75;
    transition-duration: 1.5s;
}

footer {
    background-color: #413b59;
    color: #fff;
    font-family: 'space mono';
    text-align: center;
    padding: 20px;
    bottom: 0px !important;
    padding-top: 40px;
    font-size: 10px;
}

footer a {
    color: #f5f5f5 !important;
}

.fc-state-default {
    background-color: #c35a3b !important;
    background-image: none !important;
    text-shadow: none !important;
    color: #fff !important;
    box-shadow: none !important;
}

.fc-state-active {
    background-color: #413b59 !important;
    color: #ffffff !important;
    text-shadow: none !important;
    font-weight: 500 !important;
}

.fc-unthemed td.fc-today {
    background-color: #413a5a;
    color: #ffffff;
}

.fc td, .fc th {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
    background-color: #efefef;
    padding: 4px;
}

.launchText {
    font-family: 'Space Mono';
    font-size: 30px;
    background-color: #413b59;
    margin-bottom: 20px;
    color: #fff;
    padding: 10px;
    width: 100%;
    padding: 20px;
}

.launchTitle {
    background-color: #574d7b;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 500;
    max-width: 300px;
}

.launchInfoHead {
    background-color: #413C58;
    font-family: 'Space Mono';
    font-weight: 500;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}

.launchInfoContent {
}

.launchState {
    padding: 9px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 10px;
}

.green {
    background-color: #71e039;
}

.red {
    background-color: #e04139;
}

.success {
    background-color: #71e039;
}

.failure {
    background-color: #e04139;
}

.launchInfoContent {
    background-color: #574c7c;
    color: #ffffff;
    padding: 10px;
    line-height: 2;
}

.image {
    width: 100%;
    height: 175px;
    background-size: cover !important;
    border: 2px solid #574c7c;
    background-position: center;
}

.grid-30, .grid-50, .grid-33 {
    margin-bottom: 20px;
}

.streamblock {
    height: 132px;
}

.bigtext {
    font-size: 15px;
}

.fc-content {
    padding: 5px 0px;
    background-color: #c55a35;
    color: #ffffff;
}

.fc-event {
    background-color: #c75a2e;
}